.bg{
    background-image: url("/assets/YOUTUBE (winter).jpg");
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    backdrop-filter: blur(10px);

}


.video-description-skip-line
{
    white-space: pre-line;
}

.overflow {
  overflow: auto;
  height: 173.5px;

}