<div class="container-fuid">


    <div class="bg" style="min-height: 100px"></div>


    <div class="container border-right border-left border-top _custom-border">

        <div class="row border-bottom _custom-border bg-secondary">
            <div class="col-1 border-right _custom-border d-flex justify-content-center">
                <h3> # </h3>
            </div>
            <div class="col-5 border-right _custom-border bg-secondary">

                <h4> Thumbnail </h4>

            </div>
            <div class="col-6 bg-secondary">
                <h4> Title/Description </h4>
            </div>
        </div>

   <!--    <ng-container *ngFor="let v of videos">
            <app-video-list-element [video]="v" (clickVideoItemEdit)="onClickEdit($event)">
            </app-video-list-element>
          </ng-container>
--> 
          <ng-container *ngFor="let v of videosFromHttp">
            <app-video-list-element [video]="v" (clickVideoItemEdit)="onClickEdit($event)">
            </app-video-list-element>
          </ng-container>

    </div>