
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <label class="mt-2 font-weight-bold">

                <h1>Are you sure!?</h1>
            </label>
        </div>
    </div>
    <div class="row p-3 d-flex justify-content-around">

            <button class="btn btn-success" (click)="onConfirm()"> <h3> HELL YEAH! </h3> </button>
            <button class="btn btn-danger" (click)="onClose()"> <h3> FUCK NO! </h3> </button>    
        </div>
    </div>
