.bg{
    background-image: url("/assets/YOUTUBE (winter).jpg");

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    backdrop-filter: blur(10px);

  }
