<div class="container">
    <div class="row">
        <div class="col">
            <label class="mt-2 font-weight-bold">NOW PLAYING:</label>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <label class="mt-2 font-weight-bold">{{video?.name}}</label>
        </div>
    </div>
    <div class="row">
        <div *ngIf="!!sanatizedUrl"  class="col d-flex ">
           <iframe width=480px height=270px [src]="sanatizedUrl" frameborder="0"
                allow="accelerometer; clipboard-write; autolplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button (click)="onClose()" class="btn btn-primary mt-3">Close</button>
        </div>
    </div>
</div>