.video-row {
    cursor: pointer;
}

.button {
    background-color: #ff0000;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
    margin: 3px 3px;
    border-radius: 50%;
  }


  .video-description-skip-line
  {
      white-space: pre-line;
  }

  .overflow {
    overflow: auto;
    height: 180px;

  }

  ._img-col {
      padding-left: 0px;
      padding-right: 0px;
  }

  ._img-thumbnail {
      max-width: 100%;
  }

  ._description-col {
      padding-right: 0px;
      margin: auto;
  }

  ._text-stroke {
      -webkit-text-fill-color:rgb(255, 255, 255);
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: rgb(0, 0, 0);
     
  }