<div class="row border-bottom _custom-border">
  <div class="col-1 d-flex align-items-center justify-content-center border-right _custom-border bg-secondary">
    <h1> {{video?.id}} </h1>
    <!--  <button class="button">
      {{video?.id}}
    </button> -->
  </div>

  <div class="col-5 d-flex justify-content-start _img-col border-right _custom-border">
    <button>
      <div (click)="onClickButtonThumb()">
        <img [src]="video?.thumbnailURL" class="_img-thumbnail">
      </div>
    </button>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-12 bg-secondary">
        <div class="row _description-col d-flex justify-content-start">
          <h2 class=" _text-stroke">
             {{video?.title}}
          </h2>
        </div>
        <div class=" bg-secondary">
        <div class="video-description-skip-line ">
          <div class="overflow">
            <div class="row _description-col d-flex justify-content-start">
              <h5>
                {{video?.description}}
              </h5>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex align-items-end bg-secondary">
        <div (click)="onClickButtonEdit()">
          <button type="button" class="btn btn-success">
            <div class="font-weight-bold mb-0">EDIT</div>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>